<!doctype html>
<html>
  <head>
    <title>{{{appName}}}</title>
     <style type="text/css">
      {{>style.css}}
    </style>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"  rel="stylesheet">
  <!-- Latest compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <h1>{{{appName}}}</h1>
     {{> header}}
     <div class="container-fluid">
     <h4><a name="__Methods">Methods</a></h4>
  [ Jump to <a href="#__Models">Models</a> ]
   {{#operations}}
   <div class="method"><a name="{{operationId}}"/>
    <div class="method-path">
    <pre class="get"><code class="huge"><span class="http-method">{{operationId}}</span> {{path}}</code></pre>
    <a class="up" href="#__Methods">Up</a>
    </div>
  <div class="method-summary"> {{{summary}}}</div>
  <div class="method-summary"> {{{description}}}</div>
  <h3>Query Parameters</h3>
<table class="table">
 <tr class = "param">
	 <th>Parameter Name</th>
	 <th>Value</th>
</tr>
{{#parameters}}
 
<tr>
<td>{{name}}</td>
<td>{{{description}}}</td>
</tr>
 
{{/parameters}}
</table>
Tags : {{tags}}
  <h3 class="field-label">Responses</h3>
   
    <h4 class="field-label">{{resName}}</h4>
       
{{/operations}}

From res object
{{#responses}}
<ol>
<li>{{responseNumber}}</li>
<li>{{description}}</li>
<li>{{reference}}</li>
</ol>


{{/responses}}
  </div> 
  
  
  
  </body>
  </html>


