<!doctype html>
<html>
  <head>
    <title>{{{appName}}}</title>
    
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"  rel="stylesheet">
  <!-- Latest compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <h1>{{{appName}}}</h1>
     
     {{> header}}
     <div class="container-fluid">
     <h4><a name="__Methods">Methods</a></h4>
  [ Jump to <a href="#__Models">Models</a> ]
  
  <div class = "list-group">
  <ol class="list-group">
  {{#operationId}}
  <li class="list-group-item"><a href="{{.}}.html">
  <code><span class="http-method">{{.}}</span> {{path}}</code>
  </a></li>
  {{/operationId}}
</ol>


<ul>
{{#sr}}
<li>{{.}}</li>
{{/sr}}
</ul>
</div>
  </div> 
  </body>
  </html>


