<!doctype html>
<html>
  <head>
    <title>{{{appName}}}</title>
     <style type="text/css">
      {{>templates//style.css}}
    </style>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"  rel="stylesheet">
  <!-- Latest compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <h1>{{{appName}}}</h1>
     {{> templates//header}}
     <div class="container-fluid">
     <h4><a name="__Methods">Methods</a></h4>
  
   {{#operations}}
   <div class="method"><a name="{{operationId}}"/>
    <div class="method-path">
    <pre class="get"><code class="huge"><span class="http-method">{{operationId}}</span> {{path}}</code></pre>
    <a class="up" href="#__Methods">Up</a>
    </div>
  <div class="method-summary"> {{{summary}}}</div>
  <div class="method-summary"> {{{description}}}</div>
  <h3>Query Parameters</h3>
<table class="table">
 <tr class = "param">
	 <th>Parameter Name</th>
	 <th>Value</th>
	 <th>Description</th>
</tr>
{{#parameters}}
 
<tr>
<td>{{name}} {{#required}}
       <i>(required)</i> <!-- If {like: true} --->
    {{/required}}
    {{^required}}
        (optional) <!-- If {like: false} --->
    {{/required}}
    
    </td>
<td>
 <form class="form-horizontal">
  <div class="form-group ">
    <div>
      <input type="text" class="form-control" id="{{name}}">
    </div>
  </div>

</td>
<td>{{{description}}}</td>
</tr>
 
{{/parameters}}
</table>
<div>
 <a href="#" id="get-data" class="btn btn-info">Send request</a>
 </div>
   </form>
 <div>
 <h3>Tags :</h3>
 {{tags}}
 </div>
{{/operations}}

<div class="responses">
<h3 class="field-label">Responses</h3>
<!--From res object-->
<table class="table table-striped">
    <thead>
      <tr>
        <th>Response number</th>
        <th>Description</th>
        <th>Reference</th>
      </tr>
    </thead>
    <tbody>
{{#responses}}
<tr>
<td>{{responseNumber}}</td>
<td>{{description}}</td>
<td>{{reference}}</td>
</tr>
{{/responses}}
</tbody>
</table>
</div><!-- responses end-->
  
<div class="result"></div>
<div class="result-content"></div>
  </div> 
  </body>
  
  <script>
  function output(inp) {
    document.body.appendChild(document.createElement('pre')).innerHTML = inp;
}

$(function() {
   $('#apikey').val("{{apiKey}}");
   $( '#apikey' ).prop( "disabled", true );
});

    $("#get-data").click(function(){
    
     {{#operations}}
     {{#parameters}} 
     var {{name}}_value = $('#{{name}}').val();
      {{/parameters}}
     {{/operations}}
     
     var total ={};
     {{#operations}}
     {{#parameters}}
      if({{name}}_value){
     total["{{name}}"] = {{name}}_value;
     }
     {{/parameters}}
     {{/operations}}
     
     
  $.ajax({
        url: "{{url}}",
        type : "GET",
		dataType: "json",
        data: total
    })
    .done (function(data) {
	console.log(JSON.stringify(data,null,4))
	var  str =JSON.stringify(data,null,4)
	output(str);
	})
    .fail (function(data)  
    {
    var  str =JSON.stringify(data.responseJSON,null,4)
    console.log(JSON.stringify(data,null,4))
    output(str);
      })
	});
  </script>
  
  
  </html>


