  <div class = "list-group">
  <h3>List of APIs</h3>
  <div class="input-group">
      <input type="text" class="form-control live-search-box" placeholder="Search for...">
    </div><!-- /input-group -->
    
	<ul class="nav nav-pills live-search-list" role="tablist">
 {{#operationId}}
  <li><a href="{{.}}.html"><code><span class="http-method">{{.}}</span> {{path}}</code></a></li>
  {{/operationId}}
</ul>
</div> <!--list-group ends -->



<h3>List of Response models</h3>

<ul class="nav nav-pills live-search-list" role="tablist">
 {{#modelList}}
  <li><a href="model.html#_{{.}}"><span class="http-method">{{.}}</span> {{path}}</a></li>
  {{/modelList}}
</ul>