  <div class = "list-group">
	<ul class="nav nav-pills" role="tablist">
 {{#operationId}}
  <li >
  <a href="{{.}}.html"><code><span class="http-method">{{.}}</span> {{path}}</code>
  </a>
  </li>
  {{/operationId}}
</ul>
</div> <!--list-group ends -->



modelList:

<ul class="nav nav-pills" role="tablist">
 {{#modelList}}
  <li >
  <a href="modelnew.html#{{.}}"><span class="http-method">{{.}}</span> {{path}}
  </a>
  </li>
  {{/modelList}}
</ul>