<!doctype html>
<html>
  <head>
    <title>{{{appName}}}</title>
     <style type="text/css">
      {{>style.css}}
    </style>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"  rel="stylesheet">
  <!-- Latest compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <h1>{{{appName}}}</h1>
     {{> header}}
     <div class="container-fluid">
     <div class="row">
      <div class="col-md-4">
     <h4> <a href="index.html">Index Page</a></h4>
      </div>
  <div class="col-md-4">
  {{#List}}
  <b>Title : <a name="{{modelTitle}}">{{modelTitle}}</a></b>
   <table class="table table-hover">
    <thead>
      <tr>
        <th>Element</th>
        <th>Meaning</th>
        <th>Type</th>
      </tr>
      </thead>
   <tbody>
  {{#modelList}}
 
  <tr>
  <td>{{modelName}}</td>
  <td>{{modelDesc}}</td>
  <td>{{modelType}}</td>
  </tr>
  
  {{/modelList}}
  </tbody>
  <br>
  </table>
  {{/List}}
  </div> <!--col-md-4 -->
  <div class="col-md-4>
  </div>
  </div> <!--row ends -->
  </div> <!--container-fluid ends -->
  
  </body>
  
  
  </html>


